# Ignore Claude AI configuration files
.claude/

# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Exclude debug directories
*.dSYM/

# Exclude Google Drive temporary files
.Google\ Drive
*.tmp
*.tmp.drivedownload
*.gdoc
*.gsheet
*.gslides

# Log files
*.log

# Cache files
.cache
*.cache
*.tmp

# Backup files
*~
*.swp
*.swo
*.bak

# Emacs
*~
\#*\#
.emacs.desktop
.emacs.desktop.lock

# Genkit
.genkit/

# Build files
/build/
*.o
*.out
*.exe
*.dll
*.so

# Temporary files
.tmp.driveupload
.fake

# Git Submodules
alacritty/.config/alacritty/themes
tmux/.config/tmux/plugins/

# Specific Tools Configurations
nix-darwin/.config/nix-darwin/flake.lock
nvim/.config/nvim/lazy-lock.json
yazi/.config/yazi/flavors/tokyo-night.yazi/
